.timer-stopwatch-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  margin: auto;
}

.mode-buttons button,
.control-buttons button,
.action-buttons button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, transform 0.3s;
}

.mode-buttons button:hover,
.control-buttons button:hover,
.action-buttons button:hover {
  background-color: #0056b3;
  transform: scale(1.1);
}

.display {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.display h1 {
  font-size: 48px;
  margin: 0;
  animation: pulse 1s infinite;
  color: #343a40;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.action-buttons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.input-row {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
}

.input-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-group label {
  margin-bottom: 5px;
  font-size: 14px;
  color: #343a40;
}

input[type='number'] {
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  font-size: 16px;
  width: 60px;
}
