.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('../public/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: rgba(255, 255, 255, 0.8); /* 버튼 컨테이너 배경색을 반투명하게 설정 */
  padding: 20px;
  border-radius: 10px;
}
