.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  position: relative;
  background: white;
  padding: 20px;
  border-radius: 8px;
  outline: none;
  width: 80%;
  max-width: 600px;
  overflow: hidden; /* 내용이 넘치는 경우 숨김 */
}

.close-button {
  position: absolute;
  top: 10px; /* 모달 상단으로부터의 간격 조절 */
  right: 10px; /* 모달 우측으로부터의 간격 조절 */
  cursor: pointer;
  z-index: 999; /* 다른 요소 위에 표시되도록 설정 */
}

canvas {
  display: block;
  margin: 0 auto; /* Canvas를 중앙으로 정렬 */
}